@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@font-face {
	font-family: 'Cafe24Danjunghae';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Cafe24Oneprettynight';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MapoFlowerIsland';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KOTRAHOPE';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
body,
html {
	margin: 0;
	padding: 0;
	width: 100%;
}
body img {
	max-width: 100%;
}
body ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
#daumRoughmapContainer1637411128778 {
	max-width: 640px;
	height: 320px;
	background: #d7d7d7;
	width: 100%;
}

.main-wrap {
	max-width: 640px;
	margin: 0 auto;
	width: 100%;
}
.s1 .img-wrap {
	position: relative;
}

.s1 .flex-box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: calc(0.8rem + 1.1vw);
	font-weight: bolder;
	font-family: 'MapoFlowerIsland';
	flex-wrap: wrap;
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	line-height: 30px;
}
.s1 .inline-flex-box {
	display: inline-flex;
	justify-content: center;
	text-align: center;
	margin: 0px 5px;
}

.inline-flex-box span {
	padding: 0 5px;
	border-bottom: none;
}

.notice h4 {
	text-align: center;
	line-height: 1.95rem;
	font-family: 'Cafe24Oneprettynight';
	margin: 30px 0;
	color: #000;
	font-size: calc(1.1rem + .25vw);
}
.intro {
}

.intro .img-wrap {
	width: 75px;
	height: 75px;
	margin: 30px auto 0;
	overflow: hidden;
	position: relative;
	border-radius: 50%;
}
.intro .img-wrap::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.intro h3 {
	color: #664530;
	z-index: 99;
	text-align: center;
}
.intro img {
	transform: translate(-7%, -30%) scale(1.4);
}

.s1 .notice-day {
	background-color: #f4f4f4;
	color: #666;
	text-align: center;
	padding: 25px 0;
	margin-top: -3px;
	line-height: 30px;
	font-family: 'MapoFlowerIsland';
	font-size: calc(0.95rem + .9vw);
	font-weight: bold;
	letter-spacing: 1.5px;
}
.s2 .bible {
	font-size: 15px;
}
.s2-hr {
	width: 100px;
	border-top: 1px solid;
	margin: 30px auto;
}
.s2 .notice2 {
	text-align: center;
	font-family: 'NanumBarunGothic';
	margin: 50px 0;
}
.s2 .notice2 p {
	font-size: calc(0.7rem + .02vw);
}
.s2 .notice2 p span {
	font-size: calc(1rem + .05vw);
}
.s3 {
	margin: 50px 0 60px;
}
.s4-after {
	overflow: hidden;
	margin: 30px 0;
}
.s4-after .d-flex > div {
	width: 25%;
	height: 75px;
	overflow: hidden;
}
.s4-after .d-flex .bg-img {
	width: 100%;
	height: inherit;
	background-size: contain;
	background-repeat: no-repeat;
}
.s4-after .bg1 {
	transform: translate(10%, 10%) scale(1.2);
}
.s4-after .bg2 {
	transform: translate(0%, 15%) scale(1.3);
}
.s4-after .bg3 {
	transform: translateX(10%) scale(1.4);
}
.s4-after .bg4 {
	transform: translateY(15%) scale(2);
}
.s4 ul {
	display: flex;
}
.s4 .welcome {
	margin-top: 30px;
	line-height: 35px;
	font-size: calc(1.1rem + 0.5vw);
	letter-spacing: 3px;
}
.welcome {
	text-align: center;
	color: #e66b6b;
	font-size: calc(1.1rem + 0.5vw);
	font-family: 'Cafe24Danjunghae';
	letter-spacing: 10px;
}
.s4 > div {
	background-color: #f4f4f4;
}
.s4 .calendar-container {
	padding: 15px 20px;
}
.s4 .calendar .day-title {
	font-size: 14px;
}
.s4 .calendar-container header {
	color: #000;
	padding: 1.5em 1em 1em;
	font-family: 'Cafe24Oneprettynight';
	font-weight: bold;
}

.s4 .day,
.s4 .month {
	font-size: 1.2em;
	font-weight: 900;
	line-height: 1em;
	display: inline-block;
	letter-spacing: 5px;
}
.s4 .time {
	display: inline-block;
	float: right;
	font-size: 1.0em;
}

.s4 .calendar {
	color: #555;
	padding: 1em;
	border-bottom: 2px solid #e66b6b73;
	border-top: 2px solid #e66b6b73;
	margin-bottom: 1em;
}

.s4 .calendar li {
	font-family: 'Cafe24Oneprettynight';
	padding: .5em;
	text-align: center;
	width: 14.3%;
	font-weight: bold;
}

.s4 .current-day {
	color: #fff;
	border-radius: 50%;
	position: relative;
}
.s4 .current-day:after {
	content: "18";
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 45px;
	height: 45px;
	background-color: #e66b6b;
	z-index: 0;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s4 .sun-day {
	color: red;
}
.s4 .prev-month,
.s4 .next-month {
	color: #cacaca;
}
.s5 {
	margin: 50px 0 30px;
}
.s5 .location h4,
.s5 .location h5 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: calc(0.95rem + .9vw);
	font-family: 'NanumBarunGothic';
	text-align: center;
}
.s5 .location h5 {
	color: #9c9c9c;
	font-size: calc(0.65rem + .9vw);
}
.s5 .location {
	padding: 3px;
	background-color: #f4f4f4;
}
.s5 .location-link {
	display: flex;
	justify-content: center;
	margin: 0 0 40px;
	background-color: #f4f4f4;
	padding: 20px 0;
}
.s5 .location-link a {
	width: 60px;
	height: 60px;
	display: block;
	background-position: center center;
	background-size: contain;
	border: 1px solid #f4f4f4;
	border-radius: 50%;
	margin: 0 20px;
}
.s5 .location-link .tmap {
	background-image: url(../images/location_tmap.png);
}
.s5 .location-link .daummap {
	background-image: url(../images/location_kakaomap.png);
}
.s5 .location-link .navermap {
	background-image: url(../images/location_navermap.png);
}
.s3 i {
}
.s3 .common-row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
	flex-wrap: nowrap;
}
.s3 .common-row .title {
	margin-right: 15px;
	font-weight: bold;
	font-family: 'NanumBarunGothic';
}
.s3 .call-btn {
	display: inline-flex;
}
.s3 .call-btn a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	background-color: #f4f4f4;
	margin: 0 10px;
	font-size: 22px;
}
.s3 .call-btn a.tel {
	background-color: #a3dad9;
}
.s3 .female .call-btn a.tel {
	background-color: #fbc9e2;
}
.s3 .call-btn .credit {
	color: #666;
}

#Modal .d-flex span {
}
.slider-section {
	margin: 60px 0 0;
}
.slider-section .welcome {
	margin-bottom: 10px;
	font-size: calc(1.1rem + 0.5vw);
	letter-spacing: 10px;
}
.slider-section .swiper-wrapper {
	height: 480px;
}
.slider-section .thumbsSlider {
	padding: 10px 0;
	background: #000;
}
.slider-section .thumbsSlider .swiper-wrapper {
	height: 100px;
}
.slider-section .swiper-wrapper .img-wrap {
	display: flex;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	height: inherit;
}
#Modal .modal-header .btn.btn-primary {
	background-color: unset;
	border-color: unset;
	color: #000;
	border: unset;
}
#Modal .d-flex {
	align-items: center;
}
#Modal .copy {
	border: 1px solid #5b1eaa;
	background-color: #5b1eaa;
	padding: 5px 15px;
	color: #fff;

	width: 40%;
}
#Modal .close-btn {
	background: unset;
	border: none;
	border-color: unset;
	background-color: transparent;
	border: 1px solid transparent;
}
#Modal .d2 {
	margin: 10px 0;
}
#Modal .d2 .modal-account {
	background: #f6f6f6;
	padding: 5px;
	width: 70%;
	color: #666;
	border: 1px solid #f6f6f6;
	font-weight: bold;
}
.notice4 {
	margin-top: 60px;
	font-family: 'KOTRAHOPE';
}
.notice4 h4,
.notice4 h2 {
	text-align: center;
	padding: 0 20px 10px;
}
.notice4 h4 {
	line-height: 25px;
	margin: 0;
	font-family: 'NanumBarunGothic';
	font-size: calc(1rem + .1vw);
}
.notice4 h2 {
	background-color: #f4f4f4;
	padding: 10px 0;
}
.notice4 a {
	font-family: 'Cafe24Danjunghae';
	text-decoration: none;
	display: block;
	margin: 0px auto 50px;
	border-radius: 15px;
	padding: 5px 15px;
	width: 110px;
	background-color: #e66b6b;
	color: #fff;
	text-align: center;
	font-size: calc(1.1rem + 0.25vw);
}

@media (min-width: 452px) {
	.s4-after .d-flex > div {
		height: 16.5vw;
		max-height: 150px;
	}
}
